header {
  background-color: rgb(33, 27, 27);
}

.navbar-brand {
  color: #198754;
  margin-left: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-brand:hover{
  color: #198754;
}



#instr-link {
  font-size: 1.2rem;
  border-radius: 10%;
  background-color: #198754;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
#instr-link:hover {
  background-color:#157347
}

.title {
  text-align: center;
}

.list-group-item {
  font-size: 1.2rem;
  color: #20c997;
  text-align: left;
}

body {
  background-color: rgb(48, 48, 48);
  color: white;
}

a {
  color: rgb(19, 75, 197);
}

form {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.form-control:focus {
 background-color: #ced4da;
}

#info-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}
.container-fluid {
  padding:0rem;
}

.save-button {
  margin: 1rem,0,1rem;
}

.card {
  width: 100%;
  margin-top:0.5rem;
  color: #20c997;
}
.second {
  padding-top: 0rem;
}
.card-body {
  padding-top: 0.1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 0.5rem;
}

#instructions-container {
  width: 60%;
}
/* to do media screen for 800 px width make in several 
/* 
.d-flex {
  display: flex;
} */


/* 
ol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#image-section {
  display: block;
  text-align: center;
  object-fit: contain;
}
#image-section img {
   width: 60%; 
  margin-left: auto;
  margin-right: auto;
  display: cover;
   max-height: 60%; 
}

#image-section p {
  display: block;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#gallery-section,
#liked-photos {
   font-weight: bold;
   margin-left: auto;
   margin-right: auto;
}
.heading {
  background-color: white;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}
.title {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  color: white;
}
div#gallery-section,  
div#liked-photos {
  display: block;
}
#gallery-section img, 
#liked-photos img {
  width: 90px;
  height: 90px;
  padding-left: 2px;
  padding-right: 2px;
} */