body {
  background-color: rgb(48, 48, 48);
  color: white;
}

a{
  color: rgb(51, 204, 255);
}
form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

#submit-section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
  /* block-color: rgb(48, 48, 48); */
}

ol{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: black;
  text-align: center;
}

#image-section {
  display: block;
  text-align: center;
  object-fit: contain;
}

#gallery-section{
   margin-left: 20px
}

#liked-photos{
   margin-right: 20px
}

.heading {
  background-color: white;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}
  
.title {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  color: white;
}

div#gallery-section {
  display: block;
  /* width: 25%;
  align-content: left; */
}

#gallery-section img{
  width: 100px;
}
div#saved-photos {
  display: block;
  /* width: 25%;
  float: right; */
}
  

  /* #runtime {
    background-color: #333333;
    color: #3e8fde;
    padding: 0px 0px 5px 5px;
  }
  
  .content {
    color: #3e8fde;
  }
  
  #subtitle {
    color: white;
    margin-left: 55px;
  }  */
  
  /* #showing {
    margin-left: 20px;
  }
  
  #films li::before {
    content: "";
  }
  
  .film {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .sold-out {
    color: lightgray;
  }
  
  #film-info {
    padding-bottom: 15px;
  } */
  